@import "./theme.scss";
@import "../styles/utils.scss";

.toggle-wrap {
    width: 70%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    @include md {
        width: 55%;
    }
    @include xl {
        width: 35%;
    }
    .toggle {
        width: 20%;
        height: 100%;
        border-radius: 30px;
        background-color: var(--color-toggleBg);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 5px;
        cursor: pointer;
        span {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 5px black;
        }
        @include lg {
            width: 15%;
        }
    }
}

